element.style {
    transform: translate(0px, 0px) scale(1);
}
.PanoramaExteriorPainter {
    cursor: url(data:image/svg+xml;charset=utf-8,%3Csvg width='40' height='40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18.9 19.2c0 .7 1.1.7 1.1 0v-8.5c0-1.7 2.2-1.7 2.2 0v8.5c0 .7 1.1.7 1.1 0v-6.4c0-.3.2-.5.3-.7.6-.6 2-.4 2 .7v6.4c0 .7 1 .7 1 0v-4c0-.2.2-.5.4-.6.5-.5 1.6-.3 1.6.7v4c0 5.9-2 11.6-9 10-3.5-.7-5-3.8-6.6-7l-1.4-2.7c-.8-1.2 1.2-2.3 1.9-1l2.1 3.6c.3.5 1 .3 1-.3V12c0-1.2 1.4-1.5 2-.8.2.2.3.4.3.8v7.2zm-.1-9.6.5-.8a2.4 2.4 0 0 1 3.6 0c.4.4.7 1 .7 1.7a2.6 2.6 0 0 1 2.5.5c.6.4.9 1.1.9 1.8v.2a2.5 2.5 0 0 1 2.2.5c.5.4.8 1 .8 1.8v4c0 3-.5 6.2-2.1 8.6a7 7 0 0 1-3.5 2.7c-1.5.5-3.2.5-5.2.1a8.9 8.9 0 0 1-5.6-4.3l-1.7-3.1-.2-.3-1.3-2.7m8.4-10.7a2.6 2.6 0 0 0-2.8.5c-.5.5-.7 1.2-.7 1.9v6.8l-.6-1a2.5 2.5 0 0 0-3.4-.9c-.5.3-1 .8-1.2 1.4-.2.7-.1 1.4.3 2' fill='%23000'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='m15.6 22.2-2.1-3.7c-.7-1.2-2.7-.1-2 1.1 2.4 4 3.7 8.8 8 9.7 7.2 1.6 9-4.1 9-10v-4c0-1.3-1.8-1.3-1.8 0v3.9c0 .7-1.2.7-1.2 0v-6.4c0-1.4-2.1-1.4-2.1 0v6.4c0 .7-1.2.7-1.2 0v-8.5c0-1.7-2.2-1.7-2.2 0v8.5c0 .7-1.1.7-1.1 0V12c0-1.6-2.2-1.6-2.2 0v10c0 .5-.8.7-1 .2z' fill='%23fff'/%3E%3C/svg%3E) 20 20,grab;
    display: block;
    height: auto;
    object-fit: cover;
    touch-action: pan-y;
    transform-origin: left top;
    -webkit-user-select: none;
    user-select: none;
    width: 100%;
}
canvas[Attributes Style] {
    aspect-ratio: auto 1200 / 900;
}
.ImageGalleryDesktop__image-container {
    margin-bottom: 1px;
    overflow: hidden;
    position: relative;
    -webkit-user-select: none;
    user-select: none;
    width: 100%;
    will-change: transform;
}
body {
    -webkit-font-smoothing: antialiased;
    font-feature-settings: "pnum";
    font-family: YS Text,Arial,Helvetica Neue,Helvetica,yandex-sans-rub-sign,sans-serif;
    font-variant-numeric: proportional-nums;
}